html {
    font-family: sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
    grid-template-columns: 280px auto;
    height: 100vh;
}


.content {
    padding-right: 100px;
    padding-left: 100px;
    width: 70vw;
}

.main {
    display: grid;
    grid-area: main;

}

/*HEADER DASHBOARDDD*/
.dashboard {
    display: grid;
    grid-template-areas: "header header header header"
        "card card card card"
        "vendas vendas vendas vendas"
        "aviso aviso aviso aviso";


}

.dash {
    background-color: #FFFFFF;
    display: grid;
    grid-area: header;
    border-bottom: 1px solid lightgray;
    height: 100px;
    padding-left: 50px;
}

.dash h2 {
    font-size: 24px;
    position: relative;
    top: 5px;
}

.dash p {
    font-size: 15px;
    position: relative;
    bottom: 25px;
    color: gray;
}

/* FIM DO HEADER DASHBOARD */

/* SIDEBAR */
.sidebar {
    display: grid;
    grid-area: sidebar;
    width: 280px;
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.sidebar-baixo {
    display: grid;
    justify-content: space-around;
    align-items: start;
    height: 800px;
}

.user {
    box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 150px;
    position: relative;
    bottom: 13px;
    width: 100%;
}

.user h1 {
    height: 50px;
    width: 150px;
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 40px;
}

#v {
    position: relative;
    top: 70px;
    right: 110px;
    color: gray;
}

.logo {
    background-color: #4F46E5;
    height: 60px;
    width: 60px;
    justify-items: center;
    align-content: center;
    color: white;
    position: relative;
    top: 50px;
    left: 30px;
    border-radius: 15px;
    padding: 0px 3px;
}

.logo p {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 16px;

}

.nav-link {
    align-self: start;
    display: grid;
    gap: 10px;
    text-decoration: none;
    padding-top: 15px;
}

.nav-link a {
    border-radius: 15px;
    text-decoration: none;
    color: rgb(52, 52, 52);
    height: 50px;
    padding-left: 30px;
    align-content: center;
    width: 150px;
}

.nav-link a:hover {
    color: #090e19;
    background-color: whitesmoke;
    transition: 0.3s;
    font-size: 17px;
}

.alerta {
    margin: 10px;
    align-self: end;
    background-color: #FFFBEB;
    border: 2px solid #FDE68A;
    border-radius: 15px;
    width: 240px;
}

.alerta h2 {
    color: #92400E;
    font-size: 13px;
    font-weight: 900;
    position: relative;
    left: 20px;
    height: 5px;
}

#alerta-side {
    color: #D97706;
    font-weight: 900;
    font-size: 24px;
    position: relative;
    left: 20px;
    margin: 0px;
    height: 25px;
}

.alerta p {
    color: #B45309;
    font-size: 12px;
    position: relative;
    left: 20px;
}

/* SEDEBAR END */

/*CARDS START */

.cards {
    display: grid;
    grid-area: card;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 1 / 4;
    gap: 25px;
    width: 100%;
    margin-top: 40px;
}

.receita-total,
.vendas-hoje,
.produtos-estoque,
.produtos-reposicao {
    display: grid;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    padding-left: 20px;

}

.receita-total h3,
.vendas-hoje h3,
.produtos-estoque h3,
.produtos-reposicao h3 {
    font-size: 15px;
    font-weight: 700;
    color: gray;
    margin-bottom: 0px;
    margin-top: 25px;
}

.card-number {
    font-weight: 900;
    font-size: 26px;
    margin: 0px;
}

.card-descricao {
    color: lightgray;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 20px;

}

#total {
    color: #4F46E5;
}

#hoje {
    color: #059669;
}

#cadastrados {
    color: #111827;
}

#baixo {
    color: #D97706;
}

/* CARDS END */

/* TABELA INICIOO */

.vendas-recentes {
    display: grid;
    grid-area: vendas;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    margin: 50px 0px;
    width: 100%;
    border-radius: 20px;
}

.vendas-recentes div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.vendas-recentes div h3 {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #111827;
    font-weight: 700;
    font-size: 17px;
}

.vendas-recentes div a {
    display: grid;
    align-items: center;
    margin-left: 500px;
    margin-right: 0px;
    color: #4F46E5;
    text-decoration: none;
    font-size: 15px;
    width: 100px;
}

.vendas-recentes div a:hover {
    text-decoration: underline;
}

.vendas {
    border-collapse: collapse;
    height: 30vh;

}

.vendas thead {
    background-color: whitesmoke;
    margin: 0px;
    font-size: 14px;
    color: #6B7280;

}


.cliente {
    padding-left: 20px;
}

tr:not(:last-child) {
    border-bottom: 2px solid whitesmoke;
}

.cliente,
.produto {
    text-align: left;

}

.data {
    padding-right: 20px;
}

.qtd,
.valor,
.data {
    text-align: right;
}